<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>EDAN Templator Demo Application</h1>
            <p>From this page you can navigate different fragments</p>
        </div>
        <h2>Paragraphs</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Paragraph #1</h5>
                    <p class="card-text">This paragraph only contains text without internal html</p>
                    <a href="/fragment/paragraph/paragraph1" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Paragraph #2</h5>
                    <p class="card-text">This paragraph only contains simple html</p>
                    <a href="/fragment/paragraph/paragraph2" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Paragraph #3</h5>
                    <p class="card-text">This paragraph only contains complex html</p>
                    <a href="/fragment/paragraph/paragraph3" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>Images</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Image #1</h5>
                    <p class="card-text">Image component without a link.</p>
                    <a href="/fragment/image/image-no-link" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Image #2</h5>
                    <p class="card-text">Image component with a link.</p>
                    <a href="/fragment/image/image-link" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>Quote</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Quote #1</h5>
                    <p class="card-text">Quote with citation</p>
                    <a href="/fragment/quote/quote1" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Quote #2</h5>
                    <p class="card-text">Quote without citation.</p>
                    <a href="/fragment/quote/quote2" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>Title</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Title #1</h5>
                    <p class="card-text">Title without background or subtitle.</p>
                    <a href="/fragment/title/title-no-subtitle" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Title #2</h5>
                    <p class="card-text">Title with subtitle and no background.</p>
                    <a href="/fragment/title/title-no-background" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Title #3</h5>
                    <p class="card-text">Title with subtitle and background.</p>
                    <a href="/fragment/title/title-with-background" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <h2>Header</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Header #1</h5>
                    <p class="card-text">Header h1</p>
                    <a href="/fragment/header/header1" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Header #2</h5>
                    <p class="card-text">Header h2</p>
                    <a href="/fragment/header/header2" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Header #3</h5>
                    <p class="card-text">Header h3</p>
                    <a href="/fragment/header/header3" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Header #4</h5>
                    <p class="card-text">Header h4</p>
                    <a href="/fragment/header/header4" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Header #5</h5>
                    <p class="card-text">Header h5</p>
                    <a href="/fragment/header/header5" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Header #6</h5>
                    <p class="card-text">Header h6</p>
                    <a href="/fragment/header/header6" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>Video</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Video #1</h5>
                    <p class="card-text">Simple video component</p>
                    <a href="/fragment/video/video1" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>Filmstrip</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Filmstrip #1</h5>
                    <p class="card-text">Simple filmstrip component</p>
                    <a href="/fragment/filmstrip/filmstrip1" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>Link</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Link #1</h5>
                    <p class="card-text">Simple link component</p>
                    <a href="/fragment/link/link" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
        <br/>
        <h2>Resources</h2>
        <hr/>
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">Resources #1</h5>
                    <p class="card-text">Simple resources component</p>
                    <a href="/fragment/resources/resources1" class="btn btn-primary">View</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>