<div class="edanVideo">
  <div class="edanVideo__frameContainer">
    <iframe src="{{{source}}}" class="edanVideo__frame"></iframe>
  </div>
  <div class="edanVideo__caption">{{{caption}}}</div>
  <div class="edanVideo__mediaInfo">{{{mediaInfo}}}</div>
</div>
